


<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <form class="form-container" [formGroup]="clientForm"  (ngSubmit)="onSubmit()">
    <mat-form-field color="accent">
      <input matInput placeholder="Firstname is required" formControlName="firstName">
    </mat-form-field>
    <mat-form-field color="accent">
      <input matInput placeholder="Lastname is required" formControlName="lastName">
    </mat-form-field>
    <mat-form-field color="accent">
      <input type="email" matInput placeholder="Email is required" formControlName="email">
    </mat-form-field>

  </form>
</div>


<div mat-dialog-actions>
  <button mat-button  (click)="onNoclick()">Close</button>
  <button mat-button  [disabled]="!clientForm.valid" [mat-dialog-close]="clientForm.value" cdkFocusInitial>Save Client</button>
</div>
